{% load staticfiles %}

<html>
  <head>
    <link href="{% static 'tasks/stylesheet.css' %}" rel="stylesheet" media="screen">
  </head>

  <body>

    <div>

        {% if user.is_anonymous %}
        <a href="{% url 'django.contrib.auth.views.login' %}"></a>


        {% else  %}

        <div id="bar">
            <p id="name">{{user}}</p>


        <a href="{% url 'django.contrib.auth.views.logout' %}" id="logout"><input type="button" value="LOGOUT" class="itemButton"/></a>
        </div>

        {% endif %}

    </div>

    {% block content %}
    {% endblock %}

  </body>
</html>